body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.press-logo-container {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.press-logo {
  width: 70%; /* Adjust width */
  max-width: 800px; /* Prevents it from being too large */
}

.nav-item{
  margin-right: 30px;
}
